tests/*.sh
tests/*.log
tests/*.php
tests/*.out
tests/*.diff
tests/*.exp
tests/config.inc
*~

Makefile
Makefile.*
*.m4
build/
config.*
configure
configure.in
gen-cpp/
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
.deps
autom4te.cache
debian